h2 { 
    text-align: center;
    text-transform: uppercase;
    padding: 1px;
    font-family: 'Raleway';
    font-weight: 75;
    position: relative;
    /* background: -webkit-linear-gradient(left, darkcyan, rgb(186, 208, 209), darkcyan);
    background: -moz-linear-gradient(left, darkcyan, rgb(186, 208, 209), darkcyan);
    background: -ms-linear-gradient(left, darkcyan, rgb(186, 208, 209), darkcyan);
    background: -o-linear-gradient(left, darkcyan, rgb(186, 208, 209), darkcyan); */
  }
  h2:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50px;
    width: 600px;
    margin-left: -300px;
    margin-top: -220px;
    height: 200px;
    /* background: -webkit-radial-gradient(50% 50%, ellipse closest-side, LightSkyBlue, Violet);
    background: -moz-radial-gradient(50% 50%, ellipse closest-side, LightSkyBlue, rgb(168, 162, 230));
    background: -ms-radial-gradient(50% 50%, ellipse closest-side, LightSkyBlue, Violet);
    background: -o-radial-gradient(50% 50%, ellipse closest-side, LightSkyBlue, Violet);
    z-index: -1; */
  }
  h2 a {
    background: LightSkyBlue;
    display: block;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 30px;
    color: white;
  }

  h2#app-title {
      color: white;
  }
  h2.hotel {
      color: black;
  }
.navbar-custom { 
    /* background-color: LightSkyBlue;  */
    /* background-image: url("/Users/alexstephane/Desktop/course_WORK/flatiron_course/dc-web-082420/phase_3/Project-3-Travel-App/IMG_5015.jpeg"); */
    background-image: url("/Users/kevinsheehan/Documents/Flatiron/dc-web-082420/Project-3/IMG_5015.jpeg");
    background-size: 100%
} 
.body-container {
    margin: auto;
}

#edit-acc {
    margin: 5px;
    float: right;
}
#delete-acc {
    margin: 5px;
    float: left;
}
.card-div {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}
.form-group {
    margin: 15px;
}
.form-control {
    margin: 5px;
}

/* .modal-header{
    background-image: url("/Users/alexstephane/Desktop/course_WORK/flatiron_course/dc-web-082420/phase_3/Project-3-Travel-App/IMG_5012.jpeg"); 

} */

#location-form {
    width: 100%;
    display: inline-flex;
}
@media (min-width: 768px)
{
    .bootstrap-iso .col-sm-10 {
    width: 75%;
    }
}
@media (min-width: 768px){
    .bootstrap-iso .col-sm-offset-2 {
        margin-left: 10%;
    }
}
#location-from {
    width: 25%;
    display: inline;
    text-align: center;
    text-align-last: center;
    margin-top: 15px;
    margin-right: 10px;
}

#location-to {
    width: 25%;
    display: inline;
    text-align: center;
    text-align-last: center;
    margin-top: 15px;
    margin-right: 10px;
}
#date-form {
    display: inline-flex;
}

.d-block{
    height: 230px;
    float: left;
}
.ol-md-6 {
    /* height: 223px;
    margin: 25;
    float: left;
    margin-top: 50px; */
    text-align: center

}

.mt-5{
    text-align: center;
}
.subtitle{
    text-align: center;
}
    

#carouselExampleFade{
    height: 250px;
    margin-top: 50px;
    float: left;
    width: 525px;
}

#carousel-card {
    float: left;
    /* margin-left: 50px; */
}

.carousel-image {
    border-radius: 5%;
}
#bookings-card {
    float: right;
    width: 500px;
}
a#prev{
    width: 7%;
}
a#next{
    width: 25%;
}

/* css for bookings */

.booking-btn {
    float: right;
}



.scrolling-wrapper{
	overflow-x: auto;
}

body{
	background-color: black;
	color: #fff;
    font-family: 'system-ui';
      
}

h1{
	font-weight: 800;
	font-size: 3em;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

.card-block{
	height: 250px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
    transition: all 0.2s ease-in-out 
    !important;
	border-radius: 24px;
    transform: translateY(-5px);
	box-shadow: none;
}